.body {
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    align-content: center;
    text-align: center;
}
.header {
    display: none !important;
}
.wrap1 {
    margin: auto;
    grid-template-columns: 70px 300px 200px 200px 130px 100px 90px;
    border: 1px solid #b8b5bd;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
}
.button {
    color: white;
    background: #ffdb58;
    text-align: center;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 30px;
}
.li-color1 {
    color: green;
}
@media (min-width: 720px) {
    
    .header{
        display: grid !important;
    }
    .wrap1 { 
        display: none;
    }
    .wrap1{
        width: 1150px;
        display: grid;
    }
    .title{
        display: none;
    }
}