.wrap {
    border: 1px solid lightgray;
    background-color: white;
    font-size: 16px;
    margin: 10px;
    padding: 20px;
}
.wrap1 {
    border: 1px solid lightgray;
    background-color: white;
    font-size: 16px;
    margin: 10px;
    padding: 20px;
}
.wrap2 {
    border: 1px solid lightgray;
    padding: 20px;
    margin: 10px;
    margin-top: 80px; 
}
.body {
    font-family: 'Open sans', sans-serif;
}
.box {
    text-decoration: none;
    color: black;
}
.box2 {
    font-size: 24px;
}
.icon {
    width:25px;
    height:25px;
    background-color: white;
    fill: none;
    vertical-align: middle;
}
.wrap p {
    margin-top: 5px;
}
.wrap1 p {
    margin-top: 5px;
}
.map {
    padding-top: 35px;
    width: 100%;
    height: auto;
}
.photos {
    margin-top: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    width: 100%;
    overflow: hidden;
    gap: 15px;
}
.photos a {
    height: 150px;
    overflow: hidden;
}
.img {
    width: 100%;
    height: 150px;
}
.table {
    display: grid;
    background: white;
}
.header {
    display: none;
    color: gray;
    padding: 10px;
    font-size: 18px;
}
.line {
    display: grid;
    grid-template-columns: 50% 50%;
}
.column {
    display: none !important;
}
.line:nth-child(odd) {
    background: #d0cfcf;
}
@media (min-width: 720px) {
    .noname {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }   
    .wrap {    
        margin: 10px;
        padding: 20px;
    }
    .wrap1 {   
        margin: 10px;
        padding: 20px;
    }
    .wrpa2 {      
        margin: 10px;
        padding: 20px;
    }
    .column {
        display: grid !important;
    }
    .table {
        display: grid;
    }
    .line {
        display: grid;
        grid-template-columns: 6% 47% 47%;   
    }
}