body {
    margin: 0%;
    width: 100%;
}
.body {
    display: flex;
    width: 100%;
}
aside {
    border: 1px solid lightgrey;
    background-color: #FFFFFF;
    width: 75px;
    height: 4004px;
    position: relative;
}
.asidePanel {
    list-style: none;
    padding: 20px;
}
select {

    border: none;
    background-color: #F9F9F9;
    margin-right: 60px;
}
.header{
    width: 100%;
}
header {
    width: 100%;
}
.menu1 {
    display: grid;
    list-style: none;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    grid-template-columns: 0.5fr 0.8fr 0fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.6fr 0.2fr 0.2fr 0.2fr;
}
.menu1 li a{
    text-decoration: none;
    color: black;
}
.menu2 {
    display: grid;
    list-style: none;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    grid-template-columns: 0.5fr 3.7fr 0.2fr 0.2fr 0.2fr 0.6fr;
}
.lupa:hover path {
    fill:green;
}
.lupa {
    background-color: rgba(243, 243, 243, 1);
    outline: none;
    border: none;
    height: 40px;
    border-radius: 0px 20px 20px 0;
    padding: 0 15px 0 0;
}
.Search { 
    border-radius: 20px 0px 0px 20px;
    height: 40px;
    border: none;
    background-color: rgba(243, 243, 243, 1);
    padding-left: 10px;
    outline: none;
    color: rgb(72, 132, 34);
}
.Search::placeholder{
    color: rgba(98, 181, 47, 1);
}
.search {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.Search {
    width: 90%;
}
.button {
    display: none;
}
@media (max-width: 1280px) {
    .menu1 {
        display: grid;
        list-style: none;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        grid-template-columns: 0.5fr 0.8fr 0fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.6fr 0.2fr 0.2fr 0.2fr;
    }
    .menu2 {
    display: grid;
    list-style: none;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    grid-template-columns: 0.5fr 3.7fr 0.2fr 0.2fr 0.2fr 0.6fr;
    }
    body {
        margin: 0%;
        width: 100%;
    }
    .body {
        display: flex;
        width: 100%;
    }

}
@media (max-width: 1024px) {
    .menu1 {
        display: grid;
        list-style: none;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        grid-template-columns: 0fr 0.6fr 0.4fr 0fr 0fr 0fr 0fr 0fr 0.6fr 0.2fr 0.2fr 0.2fr;
    }
    .menu2 {
        display: grid;
        list-style: none;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        grid-template-columns: 0.5fr 3.7fr 0fr 0fr 0.2fr 0.6fr;
    }
    body {
        width: 100%;
    }
    .body {
        width: 100%;
    }
    .button {
        display: block;
        background-color: white;
        border: solid #1771F1 1px;
        transition: 1s;
        padding: 15px;
        border-radius: 30px;
        transition: 0.5s;
        cursor:pointer;
        width: 55px;
    }
    .button:hover {
        background-color: #1771F1;
    }
    .button:hover span {
        color: white;
    }
    header .button {
        border-radius: 0px 12px;
    }
    .header {
        width: 100%;
    }
    header{ 
        width: 100%;
    }
    .row1 {
        display: none;
    }
}
@media (max-width: 720px) {
    .menu1 {
        display: grid;
        list-style: none;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        grid-template-columns: 0fr 0.6fr 0.4fr 0fr 0fr 0fr 0fr 0fr 0.6fr 0.2fr 0.2fr 0.2fr;
    }
    .menu2 {
        display: grid;
        list-style: none;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        grid-template-columns: 0.5fr 3.7fr 0fr 0fr 0.2fr 0.6fr;
    }
    select {
        display: none;
    }
    body {
        width: 100%;
    }
    .button {
        background-color: white;
        border: solid #1771F1 1px;
        transition: 1s;
        padding: 15px;
        border-radius: 30px;
        transition: 0.5s;
        cursor:pointer;
        width: 55px;
    }
    .button:hover {
        background-color: #1771F1;
    }
    .button:hover span {
        color: white;
    }
    header .button {
        border-radius: 0px 12px;
    }
    .header {
        width: 100%;
    }
    header{ 
        width: 100%;
    }
    .row1 {
        display: none;
    }
    .row2 {
        display: none;
    }
    aside {
        display: none;
    }
}
@media (max-width: 480px) {
    .menu1 {
        display: grid;
        list-style: none;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        grid-template-columns: 0fr 0fr 0.4fr 0fr 0fr 0fr 0fr 0fr 0.6fr 0.2fr 0.2fr 0.2fr;
        padding: 10px;
    }
    .menu2 {
        display: grid;
        list-style: none;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        grid-template-columns: 0.5fr 3.7fr 0fr 0fr 0.2fr 0.6fr;
        padding: 10px;
    }
    select{
        display: none;
    }
    .row3 {
        display: none;
    }
    .row1 {
        display: none;
    }
    .Search {
        display: none;
    }
    .lupa {
        background-color: #F9F9F9;
    }
    .row2 {
        display: none;
    }
    body {
        width: 100%;
    }
    .button {
        background-color: white;
        border: solid #1771F1 1px;
        transition: 1s;
        padding: 15px;
        border-radius: 30px;
        transition: 0.5s;
        cursor:pointer;
        width: 55px;
    }
    .button:hover {
        background-color: #1771F1;
    }
    .button:hover span {
        color: white;
    }
    header .button {
        border-radius: 0px 12px;
    }
    .header {
        width: 100%;
    }
    header{ 
        width: 100%;
    }
    aside {
        display: none;
    }
}